<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <title>Teknologi 1: Læringsmål: Mini projekt</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script>
                $(function () {
                       $("#tabs").tabs();
                       $("#tabs-om-1").tabs();
                        $("#tabs-om-2").tabs();
                        $("#tabs-om-3").tabs();
                        $("#tabs-om-4").tabs();

                        $( "#btnRun" ).click(function() 
                        {
                                $.ajax({url: "https://api.nationalize.io/?name="+encodeURIComponent($( "#navn" ).val()), success: function(result)
                                {
                                        $("#webresult").html("");
                                        $.each(result.country, function (i) 
                                        {
                                        $.each(result.country[i], function (key, val) 
                                        {
                                                $("#webresult").append("<div>"+key+": "+val+"</div>");
                                        });
                        });
                                }});
                        });
                });
        </script>
</head>

<body>
        <div id="tabs">
                <ul>
                        <li><a href="#start">Start</a></li>
                        <li><a href="#om-1">Område 1</a></li>
                        <li><a href="#om-2">Område 2</a></li>
                        <li><a href="#om-3">Område 3</a></li>
                        <li><a href="#om-4">Område 4</a></li>
                        <li><a href="#webs">Webservice</a></li>
                </ul>
                <div id="start">
                        <p><b>Programmet arbejder med de 4 læringsmålsområder</b></p>
                        <table>
                                <tr>
                                        <td>Område 1: Cloud, Operativ systemer, Database.</td>
                                </tr>
                                <tr>
                                        <td>Område 2: Talsystemer, Debug. </td>
                                </tr>
                                <tr>
                                        <td>Område 3: Samtidighedsproblematikker.</td>
                                </tr>
                                <tr>
                                        <td>Område 4: Computernetværk.</td>
                                </tr>
                                <tr>
                                        <td>Webservice: Test område af webservice</td>
                                </tr>
                        </table>
                        <br />

                        Mini projektet er udarbejdet af
                        <br /><br />
                        Anders Skov Hansen<br/>
                        ande970s@stud.kea.dk<br/>
                        <br/>
                        Jon Vidar Schaal <br>
                        jonx1183@stud.kea.dk <br>

                        <br /><br />
                        Afleveringsdato: 27/11
        
                </div>
                <div id="om-1">
                        <div id="tabs-om-1">
                                <ul>
                                        <li><a href="#sp-1">1</a></li>
                                        <li><a href="#sp-2">2</a></li>
                                        <li><a href="#sp-3">3</a></li>
                                        <li><a href="#sp-4">4</a></li>
                                        <li><a href="#sp-5">5</a></li>
                                        <li><a href="#sp-6">6</a></li>
                                        <li><a href="#sp-7">7</a></li>

                                </ul>

                         <div id="sp-1">
                        <p>Spørgsmål 1</p> <br/>
                        1.Beskriv en computers hardware. <br/>
                       <br/>
                        Svar:<br/>
                        Alt indvendigt i computeren: Harddisk, motherboard, grafikkort (Gpu), Strømforsyning (PSU), Ram, Processor (CPU) osv. <br>
                         </div>

                       <div id="sp-2">

                         <p>Spørgsmål 2</p> <br/>
                        2. Beskriv Azure Cloud og hvad du kan bruge den til: <br/>
                               Svar:<br/>
                        Det er en måde hvor man ’’lejer’’ en pc digitalt <br>

                       </div>

                       <div id="sp-3">
                               <p> Spørgmål 3</p> <br>
                               3. Hvilke typer harddiske findes i en computer hvad er forskellen på dem: <br>
                               Svar:<br>
                               SSD (Solid State Drive) (hurtig) og HDD (Harddisk drive) (Langsommere)<br>

                       </div>

                                <div id="sp-4">
                                        <p>Spørgsmål 4</p>
                                 4. Hvilke typer busser findes der i en computer:<br/>
                                        Svar:<br/>
                                        Controlbus <br/>
                                        Adressebus <br/>
                                        Databus <br/>

                                </div>
                       <div id="sp-5">
                               <P> Spørgmål 5</P>
                               5. Computer Netværk hvad er forskellen på IB og MAC:<br>
                               Svar:<br>
                               IP er dynamisk og MAC er lokalt <br>


                       </div>
                                <div id="sp-6">
                                        <p>Spørgsmål 6</p>
                                6. Hvilke typer kategorier findes der for en PSU, og hvad betyder det:<br/>
                                        Svar:<br/>
                                Nyttevirkning, forskellige lednings evne af metaller (ædel), forskellig watt styrke.<br/>
                                </div>

                       <div id="sp-7">
                               <p> Spørgsmål 7</p>
                               7. Hvad er forskellen på RAM og Harddisk:<br>
                               Svar: <br>
                               Ram (random access memory) lager hurtigt i hukommelsen og bliver slettet hvis computeren genstarter. Harddisk kan man gemme filer på. <br>

                       </div>
                </div>
                </div>

                <div id="om-2">
                        <div id="tabs-om-2">

                        <ul>
                                <li><a href="#sp-1-om2">1</a></li>
                                <li><a href="#sp-2-om2">2</a></li>
                                <li><a href="#sp-3-om2">3</a></li>
                                <li><a href="#sp-4-om2">4</a></li>
                                <li><a href="#sp-5-om2">5</a></li>
                                <li><a href="#sp-6-om2">6</a></li>

                        </ul>


                                <div id="sp-1-om2">
                                        <p>Spørgsmål 1</p>
                                        1. . Forklar hvad vi kan bruge følgende talsystemer til samt deres navne:<br/>
                                        Svar:<br/>
                                        • 16 – talsystemet  Hexadecimal.<br/>
                                        • 10 – talsystemet  Decimaltal.<br/>
                                        • 2 – talsystemet  Binær. </br>


                                </div>

                <div id="sp-2-om2">
                        <p>Spørgsmål 2</p>
                        2. Forklar hvordan man regner mellem binær og decimal! <br>
                        Svar: <br>

                </div>

                                <div id="sp-3-om2">
                                        <p>Spørgsmål 3</p>
                                3. Forklar hvordan man regner mellem binær og hexa decimal! <br>
                                        Svar:<br>
                                </div>

                                <div id="sp-4-om2">
                                        <p>Spørgsmål 4</p>
                                        4. Forklar hvad vi skal bruge et MySQL DBMS til?  <br>
                                        Svar: <br>
                                </div>

                                <div id="sp-5-om2">
                                        <p>Spørgsmål 5</p>
                                        5. Forklar hvad forkortelserne DDL og DML og hvad de bruges til! <br>
                                        Svar:<br>
                                        Først køres DDL filen (kan ikke køres 2 gange) DDL (kan køres flere gange)<br>
                                        DDL: Data Definition Language: laver tabel, database. Typer og colums. Det er ren tekst. Det er en fil.<br>
                                        DML: Kommer dataen i.<br>
                                        2 tabeller kan ikke hedde det samme.<br>

                                </div>

                                <div id="sp-6-om2">
                                        <p>Spørgsmål 6</p>
                                        6. Beskriv hvordan man opretter et MySQL DBMS på Azure og hvad vi kan bruge sådan et til!  <br>
                                        Svar: <br>
                                </div>

                </div>
                </div>

                <div id="om-3">
                        <div id="tabs-om-3">
                                <ul>
                                        <li><a href="#sp-1-om3">1</a></li>
                                        <li><a href="#sp-2-om3">2</a></li>
                                        <li><a href="#sp-3-om3">3</a></li>
                                        <li><a href="#sp-4-om3">4</a></li>
                                        <li><a href="#sp-5-om3">5</a></li>
                                </ul>

                                <div id="sp-1-om3">
                                        <p> Spøgrsmål 1</p>
                                        1. Beskriv hvad der gør et problem til et samtidighedsproblem gerne ift. Jeres projekt?<br>
                                        Svar: <br>
                                        Alt hvor der sker ting samtidig, flere brugere, når man retter noget fx man bestiller 2 varer samtidig.
                                        <br>
                                </div>


                                <div id="sp-2-om3">
                                        <p>Spørgsmål 2</p>
                                        2. Beskriv en type af samtidighedsproblemer og gerne praktisk?<br>
                                        Svar:<br>
                                        -	Hvis 2 vil købe en varer, brandalarmen lyder og der kan kun komme 1 ud af døren. Der samles altså en kø.<br>

                                        <div id="sp3-om3">

                                                <p>Spørgsmål 3</p>
                                        3.Findes der nogle standard løsninger til at løse samtidighedsproblemer på?<br>
                                           Svar:<br/>
                                                -	80/20 reglen vi understøtter 80% af noget, man bruger den fordi noget bliver for komplekst.<br/>
                                                Sidder man med en database skal man overholde kravene. Tænk på 80/20 reglen, så alle krav bliver overholdt. 80% er udover kravene.<br/>

                                        </div>

                                        <div id="sp-4-om3">
                                                <p>Spørgsmål 4</p>

                                                4.Beskriv Deadlock?<br>
                                                Svar:<br>
                                                -	Man har en proces der ikke kan komme videre,<br>
                                                2 computere deler den samme ressource, og den ene vil have den fra den anden.<br>
                                                -	Undelig løkke. Der er 2 typer syntakser i java; Der er 4;  While, switch case,  recursive kald, do while.<br>
                                                -	Hvorfor er det ikke en forløkke eller for each  Det er bestemt hvor mange gange den skal kører.<br>
                                                -	Betingelsen der står i for løkken må ikke ændre sig.<br>
                                                -	Watch dog timer  kommer af løsningen på do while og while løkken. Tingene har ikke reagereret.<br>
                                                -	Computeren venter på noget der ikke svarer.<br>
                                        </div>

                                        <div id="sp-5-om3">
                                                <p> Spøgrsmål 5</p>
                                                5. Forklar Dining filosofers?  <br>
                                                Svar: <br>
                                                -	Det er 2 der spiser, som skal have 2 spise pinde  Tænk på filosofer. Man sidder om et bord og mangler knive og gafler.
                                                -	Se evt. video fra fronter.
                                                <br>
                                        </div>

                                </div>
                        </div>

                </div>
                <div id="om-4">
                        <div id="tabs-om-4">
                                <ul>
                                        <li><a href="#sp-1-om4">1</a></li>
                                        <li><a href="#sp-2-om4">2</a></li>
                                        <li><a href="#sp-3-om4">3</a></li>
                                        <li><a href="#sp-4-om4">4</a></li>
                                        <li><a href="#sp-5-om4">5</a></li>
                                </ul>

                                <div id="sp-1-om4">
                                        <p> Spøgrsmål 1</p>
                                        1. Hvad bruges DNS til ift. Computer netværk?   <br>
                                        Svar: <br>
                                        Domain name system, taster vi dr.dk, som omsætter den til en ip adresse.<br>
                                </div>

                                <div id="sp-2-om4">

                                        <p>Spørgsmål 2</p>
                                2. Kan man se hvilke data der kommer til og fra en webside? Hvis ja hvordan?<br>
                                        Svar:<br>
                                        -	Både ja og nej. I wireshark kan man se det helt skarpt. Bliver nok lidt for tungt for på vores niveau.<br>
                                        -	Kan man se i chrome browseren i netværk. Det er ligegyldigt hvorfor en browser man bruger. ’’flere værktøjer  udviklingsværktøj’’<br>
                                        -	Chrome browseren kan man se alt hvad der er lavet på hjemmesiden.<br>
                                        -	Man kan se en rapport over hvor sikker hjemmesiden er.<br>
                                        -	Man kan se loading tiderne på hjemmesiden.<br>

                                </div>
                                <div id="sp-3-om4">
                                        <p> Spøgrsmål 3</p>
                                        3. Hvordan kan man kende forskel på Ipv4 og Ipv6?   <br>
                                        Svar: <br>
                                        -	Den ene er 32 bit og den anden 128 bit <br>
                                        -	Ipv4: ikke bogstaver; 32 bit talene er sepereret af punktummer.<br>
                                        -	Ipv6: er bogstaver; 128 bit.<br>
                                        <br>
                                </div>

                                <div id="sp-4-om4">
                                        <p> Spøgrsmål 4</p>
                                        4.  Beskriv begrebet Subnet mask og anvendelsen ift. Computernetværk.  <br>
                                        Svar: <br>
                                        -	Subnet mask  Bruges på lokale netværk.<br>

                                        -	Anvendelsen ift. Computernetværk <br>

                                        -	Er taget ud.<br>
                                        .<br>
                                </div>

                                <div id="sp-5-om4">
                                        <p> Spøgrsmål 5</p>
                                        5.  Vis eller beskriv de kommandoer du kender ift. netværk som kan bruges i et terminal vindue. Det kan f.eks. være ”ping” kommandoen.  <br>
                                        Svar: <br>
                                        -	Windows knap ’’CMD’’<br>
                                        -	Hvad er en ping kommando  slå op. Den oversætter fra URL til en ip adresse, hvor langt tid tager det. PING ER bare noget data man sender ud.<br>
                                        -	Slå evt. op<br>
                                        -	Fortæl overordnet.<br>
                                </div>



                        </div>
                </div>
                <div id="webs">
                        <table>
                                <tr>
                                        <td>Navn</td><td style="padding-left: 20px;padding-right: 20px;"><input id="navn" alt="Klik på knappen og se svaret fra webserveren" title="Klik på knappen og se svaret fra webserveren"></td><td><button id="btnRun">Test webservice</button></td>
                                </tr>
                        </table>
                        <br/>
                        <br/>
                        <b>Svar fra webservice</b>
                        <div id="webresult"></div>
                </div>

        </div>

</body>

</html>