<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <title>Teknologi 1: Læringsmål: Mini projekt</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script>
                $(function () {
                       $("#tabs").tabs();
                       $("#tabs-om-1").tabs();
                        $("#tabs-om-2").tabs();
                        $("#tabs-om-3").tabs();
                        $("#tabs-om-4").tabs();

                        $( "#btnRun" ).click(function() 
                        {
                                $.ajax({url: "https://api.nationalize.io/?name="+encodeURIComponent($( "#navn" ).val()), success: function(result)
                                {
                                        $("#webresult").html("");
                                        $.each(result.country, function (i) 
                                        {
                                        $.each(result.country[i], function (key, val) 
                                        {
                                                $("#webresult").append("<div>"+key+": "+val+"</div>");
                                        });
                        });
                                }});
                        });
                });
        </script>
</head>

<body>
        <div id="tabs">
                <ul>
                        <li><a href="#start">Start</a></li>
                        <li><a href="#om-1">Område 1</a></li>
                        <li><a href="#om-2">Område 2</a></li>
                        <li><a href="#om-3">Område 3</a></li>
                        <li><a href="#om-4">Område 4</a></li>
                        <li><a href="#webs">Webservice</a></li>
                </ul>
                <div id="start">
                        <p><b>Programmet arbejder med de 4 læringsmålsområder</b></p>
                        <table>
                                <tr>
                                        <td>Område 1: Cloud, Operativ systemer, Database.</td>
                                </tr>
                                <tr>
                                        <td>Område 2: Talsystemer, Debug. </td>
                                </tr>
                                <tr>
                                        <td>Område 3: Samtidighedsproblematikker.</td>
                                </tr>
                                <tr>
                                        <td>Område 4: Computernetværk.</td>
                                </tr>
                                <tr>
                                        <td>Webservice: Test område af webservice</td>
                                </tr>
                        </table>
                        <br />

                        Mini projektet er udarbejdet af
                        <br /><br />
                        Jeres fuldenavne og KEA e-mail tilføj evt. gruppenavn.
                        <br /><br />
                        Afleveringsdato
        
                </div>
                <div id="om-1">
                        <div id="tabs-om-1">
                                <ul>
                                        <li><a href="#sp-1">1</a></li>
                                        <li><a href="#sp-2">2</a></li>
                                        <li><a href="#sp-3">3</a></li>
                                        <li><a href="#sp-4">4</a></li>
                                        <li><a href="#sp-5">5</a></li>
                                        <li><a href="#sp-6">6</a></li>
                                        <li><a href="#sp-7">7</a></li>

                                </ul>

                         <div id="sp-1">
                        <p>Spørgsmål 1</p> <br/>
                        1.Beskriv en computers hardware. <br/>
                       <br/>
                        Svar:<br/>
                        Alt indvendigt i computeren: Harddisk, motherboard, grafikkort (Gpu), Strømforsyning (PSU), Ram, Processor (CPU) osv. <br>
                         </div>

                       <div id="sp-2">

                         <p>Spørgsmål 2</p> <br/>
                        2. Beskriv Azure Cloud og hvad du kan bruge den til: <br/>
                               Svar:<br/>
                        Det er en måde hvor man ’’lejer’’ en pc digitalt <br>

                       </div>

                       <div id="sp-3">
                               <p> Spørgmål 3</p> <br>
                               3. Hvilke typer harddiske findes i en computer hvad er forskellen på dem: <br>
                               Svar:<br>
                               SSD (Solid State Drive) (hurtig) og HDD (Harddisk drive) (Langsommere)<br>

                       </div>

                                <div id="sp-4">
                                        <p>Spørgsmål 4</p>
                                 4. Hvilke typer busser findes der i en computer:<br/>
                                        Svar:<br/>
                                        Controlbus <br/>
                                        Adressebus <br/>
                                        Databus <br/>

                                </div>
                       <div id="sp-5">
                               <P> Spørgmål 5</P>
                               5. Computer Netværk hvad er forskellen på IB og MAC:<br>
                               Svar:<br>
                               IP er dynamisk og MAC er lokalt <br>


                       </div>
                                <div id="sp-6">
                                        <p>Spørgsmål 6</p>
                                6. Hvilke typer kategorier findes der for en PSU, og hvad betyder det:<br/>
                                        Svar:<br/>
                                Nyttevirkning, forskellige lednings evne af metaller (ædel), forskellig watt styrke.<br/>
                                </div>

                       <div id="sp-7">
                               <p> Spørgsmål 7</p>
                               7. Hvad er forskellen på RAM og Harddisk:<br>
                               Svar: <br>
                               Ram (random access memory) lager hurtigt i hukommelsen og bliver slettet hvis computeren genstarter. Harddisk kan man gemme filer på. <br>

                       </div>
                </div>
                </div>

                <div id="om-2">
                        <div id="tabs-om-2">

                        <ul>
                                <li><a href="#sp-1">1</a></li>
                                <li><a href="#sp-2">2</a></li>
                                <li><a href="#sp-3">3</a></li>
                                <li><a href="#sp-4">4</a></li>
                                <li><a href="#sp-5">5</a></li>
                                <li><a href="#sp-6">6</a></li>
                                <li><a href="#sp-7">7</a></li>

                        </ul>


                </div>
                </div>

                <div id="om-3">
                        <p>Spørgsmål og svar</p>
                </div>
                <div id="om-4">
                        <p>Spørgsmål og svar</p>
                </div>
                <div id="webs">
                        <table>
                                <tr>
                                        <td>Navn</td><td style="padding-left: 20px;padding-right: 20px;"><input id="navn" alt="Klik på knappen og se svaret fra webserveren" title="Klik på knappen og se svaret fra webserveren"></td><td><button id="btnRun">Test webservice</button></td>
                                </tr>
                        </table>
                        <br/>
                        <br/>
                        <b>Svar fra webservice</b>
                        <div id="webresult"></div>
                </div>

        </div>

</body>

</html>